<br>
<div class="row">
  <div class="col-md-10">
    <strong>All User List</strong>
  </div>
  <div class="col-md-2"><button type="button" class="btn btn-dark float-right" (click)="addUserPopup()"
      data-toggle="modal" data-target="#addEditUserModal">Add
      New User</button></div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Mob</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user_data of all_user_data; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{user_data.name}}</td>
      <td>{{user_data.mobNumber}}</td>
      <td>{{user_data.email}}</td>
      <td>
        <span class="sim-pointer" (click)="editUserPopup(user_data.id)" data-toggle="modal"
          data-target="#addEditUserModal"><i class="fa fa-pencil-square-o cursor" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;
        <span class="sim-pointer" (click)="deleteUser(user_data.id)"><i class="fa fa-trash cursor"
            aria-hidden="true"></i></span>
      </td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="addEditUserModal" tabindex="-1" role="dialog" aria-labelledby="addEditUserTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{popup_header}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form [formGroup]="addEditUserForm">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name"
                  [ngClass]="{'is-invalid':addEditUser && rf.name.errors}" />
                <div *ngIf="addEditUser && rf.name.errors" class="invalid-feedback">
                  <div *ngIf="rf.name.errors.required">Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Mobile Number</label>
                <input type="tel" class="form-control" formControlName="mobNumber"
                  [ngClass]="{'is-invalid':addEditUser && rf.mobNumber.errors}" numberOnly />
                <div *ngIf="addEditUser && rf.mobNumber.errors" class="invalid-feedback">
                  <div *ngIf="rf.mobNumber.errors.required">Mobile Number is required</div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email"
                    [ngClass]="{'is-invalid':addEditUser && rf.email.errors}">
                  <div *ngIf="addEditUser && rf.email.errors" class="invalid-feedback">
                    <div *ngIf="rf.email.errors.required">Email is required</div>
                    <div *ngIf="rf.email.errors.email">Enter valid email</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password</label>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password"
                    [ngClass]="{'is-invalid':addEditUser && rf.password.errors}">
                  <div *ngIf="addEditUser && rf.password.errors" class="invalid-feedback">
                    <div *ngIf="rf.password.errors.required">Password is required</div>
                    <div *ngIf="rf.password.errors.minlength">Name must be at least 6 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" placeholder="1234 Main St" formControlName="addLine1"
                  [ngClass]="{'is-invalid':addEditUser && rf.addLine1.errors}">
                <div *ngIf="addEditUser && rf.addLine1.errors" class="invalid-feedback">
                  <div *ngIf="rf.addLine1.errors.required">Addressline1 is required</div>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlFile1">Upload User Photo</label>
                <span *ngIf="edit_user"><span>Uplload image</span><br>{{upload_file_name}} <span> <a
                      href="">Preview</a></span></span>
                <input type="file" class="form-control-file" formControlName="uploadPhoto"
                  [ngClass]="{'is-invalid':addEditUser && rf.uploadPhoto.errors}">
                <div *ngIf="addEditUser && rf.uploadPhoto.errors" class="invalid-feedback">
                  <div *ngIf="rf.uploadPhoto.errors.required">Please upload file</div>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-primary" (click)="addUser()" *ngIf="add_user">Register</button>
                <button class="btn btn-primary" (click)="updateUser()" *ngIf="edit_user">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
