<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav" *ngIf="!logged_in">
        <li class="sidebar-brand">
            <a href="#">
                DAgriBiz
            </a>
        </li>
        <li>
          <a class="nav-link" routerLink="/login"> Login</a>
        </li>

        <li>
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
      </ul>
      <ul class="sidebar-nav" *ngIf="logged_in">
        <li class="sidebar-brand">
            <a href="#">
                DAgriBiz
            </a>
        </li>
        <li *ngIf="isUser">
          <a class="nav-link sim-pointer cursor" routerLink="/profile">
            <i class="fa fa-user" style="font-size: 30px;"></i> Profile
          </a>
        </li>

        <li *ngIf="isUser">
          <a class="nav-link sim-pointer cursor" routerLink="/market">
            <i class="fa fa-shopping-cart" style="font-size: 30px;" aria-hidden="true"></i> Market
          </a>
        </li>

        <li *ngIf="isUser">
          <a class="nav-link sim-pointer cursor" routerLink="/transactions">Transactions</a>
        </li>

        <li *ngIf="isUser">
          <a class="nav-link sim-pointer cursor" routerLink="/tresor">Wallet</a>
        </li>

        <li *ngIf="!isUser">
          <a class="nav-link sim-pointer cursor" routerLink="/admin/dashboard">Dashboard</a>
        </li>
        <li *ngIf="!isUser">
          <a class="nav-link sim-pointer cursor" routerLink="/admin/orders">Orders</a>
        </li>
        <li>
          <a class="nav-link sim-pointer cursor" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="navbar-header">
              <button class="btn-menu btn btn-success btn-toggle-menu" type="button">
                  <i class="fa fa-bars"></i>
              </button>
          </div>
        </div>
    </div>
</div>
