<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div class="col-md-6 offset-md-3">
      <h3 class="display-5 fw-bold">Profile</h3>
      <br />
      <div style="text-align: center;" *ngIf="uploadedImage">
        <img [src]="uploadedImage" alt="user image" width="200">
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Username</span>
          <input type="text" class="form-control" formControlName="name"
            [ngClass]="{'is-invalid':formSubmmited && rf.name.errors}" />
          <div *ngIf="formSubmmited && rf.name.errors" class="invalid-feedback">
            <div *ngIf="rf.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <input type="tel" class="form-control" formControlName="mobNumber"
            [ngClass]="{'is-invalid':formSubmmited && rf.mobNumber.errors}" numberOnly />
          <div *ngIf="formSubmmited && rf.mobNumber.errors" class="invalid-feedback">
            <div *ngIf="rf.mobNumber.errors.required">Mobile Number is required</div>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <input type="email" class="form-control" placeholder="Email" formControlName="email"
            [ngClass]="{'is-invalid':formSubmmited && rf.email.errors}">
          <div *ngIf="formSubmmited && rf.email.errors" class="invalid-feedback">
            <div *ngIf="rf.email.errors.required">Email is required</div>
            <div *ngIf="rf.email.errors.email">Enter valid email</div>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Address&nbsp;&nbsp;&nbsp;</span>
          <input type="text" class="form-control" placeholder="1234 Main St" formControlName="addLine1"
            [ngClass]="{'is-invalid':formSubmmited && rf.addLine1.errors}">
          <div *ngIf="formSubmmited && rf.addLine1.errors" class="invalid-feedback">
            <div *ngIf="rf.addLine1.errors.required">Address is required</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Photo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="file" class="form-control" (change)="changePhoto($event)" formControlName="uploadPhoto"
            [ngClass]="{'is-invalid':formSubmmited && rf.uploadPhoto.errors}">
          <div *ngIf="formSubmmited && rf.uploadPhoto.errors" class="invalid-feedback">
            <div *ngIf="rf.uploadPhoto.errors.required">Please upload file</div>
          </div>
        </div>

        <div class="input-group mb-3">
          <button class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
